extends layout

block content
    h1 Users
    each user in users 
      div(class='userBox')
        h2 Username: #{user.username}
        br
        label First Name: #{user.firstName}
        br
        label Last Name: #{user.lastName}
        br
        form(action="/a/toggleuser", method="post") 
          label IsUserEnabled:
          if user.isEnabled
            input(type='checkbox', name=`CB`, checked)
          else
            input(type='checkbox', name=`CB`)
          input(type="hidden", name="UserId", value= `${user.userId}`)
          input(type="submit", value="Submit")
        br
        h3 Roles
        ul
          each role in user.roles 
            li= role
            
